/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */
@import "bootstrap-sprockets";
@import "bootstrap";

a{
  text-decoration:none; 
}
#helloword{
	height:80vh;
	border-right: 2px solid #004e66;
	text-align: center;
	p{
	font-size:20px;
	}
}
.row{
	padding-left:5%;
	border-bottom:1px solid #004e66;
}
.mainwrapper{
	padding-left: 5%;
}
.navbar-brand{
	font-size:25px;
	font-family: 'Black Ops One', cursive;
}
.singlecomment{
	width:80%;
	border-bottom:1px solid black;
}
.iteminfo{
	h2{
	font-size:40px;
	}
	p{
	font-size:30px;
	}
}